@model WebAppChElementeMVC.Models.Periode

@{
    ViewData["Title"] = "Details";
}

<div class="mt-2 mx-n3 px-3">
  <h4>Periode Details</h4>
</div>
<div class="row pt-2 mx-n2">
  <div class="col-md-3 px-2 pb-3">
    <div class="card shadow p-2">
      <h6>Periode</h6>
      <hr class="mt-0 mb-2 mx-n2">
      <dl class="row m-0">
        <dt class="col-sm-8 ps-0">
          @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-4 pe-0">
          @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-8 ps-0">
          @Html.DisplayNameFor(model => model.Nummer)
        </dt>
        <dd class="col-sm-4 mb-0 pe-0">
          @Html.DisplayFor(model => model.Nummer)
        </dd>
      </dl>
      
    </div>
  </div>
  <div class="col-md-9 px-2 pb-4">
    <div class="card shadow px-2 pt-2">
      <h6>Elemente</h6>
      <hr class="my-0 mx-n2">

      <table class="table mb-0">
        <thead>
          <tr>
            <th class="ps-2 text-secondary text-m font-weight-bolder opacity-7">Gruppe</th>
            <th class="ps-2 text-secondary text-m font-weight-bolder opacity-7">Ordnungszahl</th>
            <th class="ps-2 text-secondary text-m font-weight-bolder opacity-7">Symbol</th>
            <th class="ps-2 text-secondary text-m font-weight-bolder opacity-7">Element</th>
            <th class="ps-2 text-secondary text-m font-weight-bolder opacity-7">Zustand</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var item in Model.Elemente)
          {
            <tr>
              <td>
                @Html.DisplayFor(modelItem => item.Gruppe.Nummer)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.Ordnungszahl)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.Symbol)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.Name)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.Zustand.Bezeichnung)
              </td>
            </tr>
          }
        </tbody>
      </table>

    </div>
  </div>
</div>
<div class="d-flex mb-3">
  <a class="btn btn-primary w-auto me-2 mb-0" asp-action="Edit" asp-route-id="@Model?.Id">Edit Periode</a>
  <a class="btn btn-secondary w-auto me-2 mb-0" asp-action="Index">Back to List</a>
</div>
