@model IEnumerable<WebAppChElementeMVC.Models.Periode>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between d-flex mt-2">
  <div class="me-auto">
    <h3>Perioden</h3>
  </div>
  <div class="my-0">
    <a class="btn btn-primary w-auto mt-2 mb-0" asp-action="Create">Create New</a>
  </div>
</div>

<table class="table align-items-center mb-2">
  <thead>
    <tr>
      <th class="ps-2 text-secondary">
        @Html.DisplayNameFor(model => model.Name)
      </th>
      <th class="ps-2 text-secondary">
        @Html.DisplayNameFor(model => model.Nummer)
      </th>
      <th class="text-secondary opacity-7 text-end">
      </th>
    </tr>
  </thead>
  <tbody>
@foreach (var item in Model) {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.Name)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Nummer)
      </td>
      <td class="align-middle text-end pe-0">
        <div class="d-flex">
          <a class="btn btn-primary w-auto btn-sm ms-auto me-2 mb-0" asp-action="Details" asp-route-id="@item.Id">Details</a>
          <a class="btn btn-secondary w-auto btn-sm me-2 mb-0" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
          <a class="btn btn-secondary w-auto btn-sm me-0 mb-0" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </div>
      </td>
    </tr>
}
  </tbody>
</table>