@model IEnumerable<WebAppChElementeMVC.Models.Periode>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between d-flex mt-2">
  <div class="me-auto mt-1">
    <h3>Perioden</h3>
  </div>
  <div class="my-0">
    @* <p class="my-0"> *@
      <a class="btn bg-gradient-primary w-auto btn-sm mt-2 mb-3" asp-action="Create">Create New</a>
    @* </p> *@
  </div>
</div>

<table class="table align-items-center mb-0">
  <thead>
    <tr>
      <th class="ps-2 text-uppercase text-secondary font-weight-bolder opacity-7">
        @Html.DisplayNameFor(model => model.Nummer)
      </th>
      <th class="text-uppercase text-secondary text-m font-weight-bolder opacity-7 ps-2">
        @Html.DisplayNameFor(model => model.Name)
      </th>
      <th class="text-secondary opacity-7"></th>
    </tr>
  </thead>
  <tbody>
@foreach (var item in Model) {
    <tr>
      <td>
        <h6 class="mb-0">
          @Html.DisplayFor(modelItem => item.Nummer)
        </h6>
      </td>
      <td>
        <p class="font-weight-bold mb-0">
          @Html.DisplayFor(modelItem => item.Name)
        </p>
      </td>
      <td class="align-middle text-center">
        <div class="row justify-space-between text-center py-2">
          <div class="col-12 mx-auto">
            <a class="btn btn-primary w-auto btn-sm me-2 mb-0" asp-action="Details" asp-route-id="@item.Id">Details</a>
            <a class="btn btn-secondary w-auto btn-sm me-2 mb-0" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            <a class="btn btn-secondary w-auto btn-sm me-2 mb-0" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
          </div>
        </div>
      </td>
    </tr>
}
  </tbody>
</table>

@* <div class="border-bottom border-btm1 mt-2 mx-n3 px-3">
  <h4>Edit Periode</h4>
</div>
<div class="row pt-3">
  <div class="col-md-6">
    <form asp-action="Edit">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <input type="hidden" asp-for="Id" />
      <div class="form-group mb-3">
        <div class="input-group input-group-static">
          <label asp-for="Nummer">Nummer</label>
          <input asp-for="Nummer" class="form-control pt-0" placeholder="0" type="number">
        </div>
        <span asp-validation-for="Nummer" class="text-primary text-xs"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary me-2" />
        <a asp-action="Index" class="btn btn-secondary me-2">Back to List</a>
      </div>
    </form>
  </div>
</div> *@